@import '../main.scss';
.post-list .twitter {
    width: 100%;
    
    .post-info {
        > .post-text {
            height: 52px;
            overflow-y: auto;
        }

        > .post-image {
            @include horizontalAlign;
            max-width: 160px;
        }
        > .post-image > input {
            display: none;
        }
        > .post-image > label {
            cursor: pointer;
            height: 160px;
            &:hover, &.not-selected {
                opacity: 0.5;
            }
            &:hover {
                transition: all .2s;
            }
        }
        > .post-image img {
            max-width: 160px;
            max-height: 100%;
            object-fit: cover;
        }
    }
}
